/**
 * style.css
 * Airwallex Payment Demo - Static HTML.  Created by Josie Ku.
 *
 * This file provides styling to the demo site.  This is not required for the integration.
 */

.buttonOptions {
  width: 60%;
  display: inline-block;
}
.jsonOverride {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

body {
  font-family: 'AxLLCircular';
  padding: 15px 25px;
}

span#code {
  font-family: monospace;
  background-color: lightgrey;
  font-size: 16px;
}

div#links {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 15px;
  font-family: 'AxLLCircular';
  padding: 5px 10px;
  font-weight: 500;
  cursor: pointer;
  background-color: #612fff;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
}

button:disabled {
  opacity: 0.75;
}

p#error {
  background: #ffebee;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 400px;
  display: none;
}
p#success {
  background: lightgreen;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 400px;
  display: none;
}

p#author {
  position: absolute;
  bottom: 0;
}

.field-container {
  margin: 15px 0px;
}

div.instruction-container {
  padding: 10px 50px;
  text-align: left;
}

span#code {
  font-family: monospace;
  background-color: lightgrey;
  font-size: 16px;
  margin: 0px 5px;
}

p#bullet {
  font-weight: bold;
}

@font-face {
  src: url('https://checkout.airwallex.com/fonts/CircularXXWeb/CircularXXWeb-Bold.woff');
  font-family: 'AxLLCircular';
  weight: 'bold';
}
@font-face {
  src: url('https://checkout.airwallex.com/fonts/CircularXXWeb/CircularXXWeb-Regular.woff2');
  font-family: 'AxLLCircular';
  weight: '400';
}

.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}
.card p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}
.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}
.card .button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  cursor: pointer;
  font-family: 'AxLLCircular';
}
.card__details {
  padding: 16px 8px 8px 8px;
}